@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Log in";
}
<form>
    <aiplugs-input asp-for="Email" />
    <aiplugs-input asp-for="Password" />
    <aiplugs-input asp-for="RememberMe" />
    <button type="submit" is="aiplugs-button" looks="block" color="primary" size="full">Login</button>
</form>