<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ViewData["Title"] | aiplugs cms</title>
    <aiplugs-assets />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="simple">
    <header>
        <img class="logo-img"src="/images/icon-inverted.svg">
        <span class="logo">aiplugs cms</span>
    </header>
    <main>
        @RenderBody();
    </main>
</body>
</html>
