@model DataViewModel

@{
    Layout = null;
}

<aiplugs-blade label="Preview" expanded>
        <aiplugs-actions>
            <a is="aiplugs-button" looks="block" color="primary" 
                asp-action="Edit" asp-route-name="@Model.CollectionName" asp-route-id="@Model.Item.Id">Edit</a>
        </aiplugs-actions>
        <iframe src="/preview/data/@Model.CollectionName/@Model.Item.Id" class="flex"></iframe>
</aiplugs-blade>

