@model Aiplugs.CMS.Web.ViewModels.TemplateViewModels.NewTemplateViewModel
@{
    ViewData["Title"] = "Templates";
    ViewData.AddActivePage(SharedNavPages.Templates);

}

<aiplugs-blade label="Templates" wide expanded>
    <form action="~/templates" method="post" class="flex flex-column">
        <aiplugs-actions>
            <input type="submit" is="aiplugs-button" looks="block" color="primary" value="Create" />
            <a asp-action="List" is="aiplugs-button">Cancel</a>
        </aiplugs-actions>
        <div class="flex flex-column">
            <div style="padding:0 24px;">
                <aiplugs-input asp-for="Name" />
            </div>
            <aiplugs-monaco name="Template" value="@Model.Template" settings-from="#monaco-settings" />
        </div>
        <script type="application/json" id="monaco-settings">
            { "language": "razor" }
        </script>
    </form>
</aiplugs-blade>
