@model IEnumerable<Job>
@{
    ViewData.AddActivePage(SharedNavPages.Jobs);
}
<aiplugs-blade label="Jobs">
    <aiplugs-actions>
        <a asp-action="List" is="aiplugs-button">Reload</a>
    </aiplugs-actions>
    <aiplugs-list label-name="Procedure*" label-status="Status" label-start-at="Start At">
        @foreach (var job in Model)
        {
        <aiplugs-list-item name="jobs[]" item="@job.Id">
            <aiplugs-list-column class="flex text-small">
                <a open="/jobs/@job.Id" open-to="#unique" ic-swap-style="replace">@job.Name</a>
            </aiplugs-list-column>
            <aiplugs-list-column class="text-small">
                <a open="/jobs/@job.Id" open-to="#unique" ic-swap-style="replace">@job.Status</a>
            </aiplugs-list-column>
            <aiplugs-list-column class="text-small">
                <a open="/jobs/@job.Id" open-to="#unique" ic-swap-style="replace">@job.StartAt?.ToLocalTime().DateTime</a>
            </aiplugs-list-column>
        </aiplugs-list-item>
        }
    </aiplugs-list>
</aiplugs-blade>
<div id="unique" class="flex flex-row"></div>